Repository BuchholzTim/6-3-5-Brainwriter, pull requests merged in 2020-06, with the labels that each got.

#24 Solved: Missing Error-Message when Join-Code is wrong
  backend/package-lock.json
  backend/package.json
  backend/routes/topicsRoute.js
  frontend/src/components/playerView/subPages/PlayerViewJoin.js
Labels: backend, bug, frontend

#28 Active rounds aren't joinable anymore
  backend/routes/topicsRoute.js
  frontend/src/axios/apiCalls.js
  frontend/src/components/topic/subPages/TopicPreparation.js
Labels: backend, bug, frontend

#31 Env frontend
  frontend/.env.development
  frontend/.env.production
  frontend/Dockerfile
  frontend/src/axios/apiCalls.js
  frontend/src/config/config.js
  frontend/src/redux/store.js
  frontend/src/socket/socket.js
Labels: enhancement, frontend

#32 Upgraded Dependencies
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#39 Bugfix with Enviroment Variables
  backend/.env.bkup
  backend/Dockerfile
  backend/app.js
  backend/config/config.js
  backend/package-lock.json
  backend/tools/generalTools.js
  docker/docker-compose.yml
  frontend/.env.development
  frontend/.env.production
  frontend/Dockerfile
  frontend/src/index.js
  frontend/src/redux/store.js
  frontend/src/tools/tools.js
Labels: backend, bug, enhancement, frontend

#53 #41 Fixed Logo for Safari
  frontend/src/components/Home.js
Labels: frontend

#55 Changed all occurences of 'active' to 'joinable'
  backend/models/Topic.js
  backend/routes/topicsRoute.js
  brainwriter-database.dbml
  docker/init.sql
  frontend/src/axios/apiCalls.js
  frontend/src/components/topic/subPages/TopicPreparation.js
Labels: enhancement

#52 Added Support for Remote-DevTools
  frontend/.env.development
  frontend/.env.production
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/redux/store.js
Labels: enhancement, frontend
